<form action="/payment/results">
  <label for="goo">APR</label>
  <input id="goo" type="text" placeholder="E.g. 1.5" name="user_apr">

  <label for="foo">Number of years</label>
  <input id="foo" type="text" placeholder="How many years to repay?" name="user_years">

  <label for="hoo">Principal</label>
  <input id="hoo" type="text" placeholder="How much principal?" name="user_principal">

  <button>Calculate monthly payment</button>
</form>