<form action="/random/results">
  <label for="boo">Minimum</label>
  <input id="boo" type="text" placeholder="E.g. 1.5" name="user_min">

  <label for="doo">Maximum</label>
  <input id="doo" type="text" placeholder="E.g. 1.5" name="user_max">

  <button>Pick random number</button>
</form>