<h1>Square Results</h1>

<dl>
  <dt>Number</dt>
  <dd><%= @numm %></dd>

  <dt>Square</dt>
  <dd><%= @root %></dd>
</dl>
<div><a href="/square_root/new"> </h3>Calculate another square root</h3> </a></div>