<form action="/square/results">
  <label for="hello">Enter a number</label>
  <input id="hello" type="text" placeholder="What number do you want?" name="elephant">

  <button>Calculate Square</button>
</form>

